<% include partial/header  %>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Reset Password </h2>


        <!-- Icon -->
        <div class="fadeIn first">
            <img style="background-repeat: no-repeat;"
                src="https://image.shutterstock.com/image-photo/image-150nw-1375612079.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action="/reset/<%= token  %>" method="POST">
            <input  type="password" id="password" class="fadeIn second" name="pass" placeholder="Password">
            <input required type="password" id="password" class="fadeIn third" name="cnfpass"
                placeholder="Confirm-Password">
            <input type="submit" class="fadeIn third" value="reset">
        </form>

        <!-- Remind Passowrd -->

    </div>
</div>

<% include partial/footer  %>